$font-family: 'Roboto', sans-serif !default;

$palette-lightgray: #f3f3f3 !default;
$palette-gray: #d5dae3 !default;

$primary-color: #3d9cec !default;
$secondary-color: #8297aa !default;
$background-color: #f6f6f6 !default;

$text-color: #555555 !default;
$text-color-muted: #ccc !default;

$content-width: 75em;

@mixin desktop {
	@media (min-width: 40em) {
		@content;
	}
}